*{
    margin: 0;
    padding: 0%;
}
header{
    height: 90px;
    width: 100%;
    background-color: #e8eee8;
}
.logo h1{
    float: left;
    padding: 10px 10px;
    color: black;
    margin-left: 30px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 3px 3px 3px rgba(253, 6, 6, 0.2);
}
.logo img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    float:left;
    margin-top: 25px;

}
.search{
    float: right;
    margin-right: 10px;
    margin-top: 20px;

}
.search_input{
    padding:6px;
    color: #080808;
    width: 150px;
    font-size: 16px;
    border: 1px solid #111111;
    margin-top: 5px;

}
.button_search{
    padding:5px 10px;
    background-color: #0f74f5;
    border-radius:5px;
    cursor:pointer;
}
nav{
    width: 100%;
    height: 45px;
    background-color:#f8f7f8 ;
    border-bottom: 3px solid #dfdadf;
}
.social ul{
    list-style: none;
    margin-left: 20px;

}
.social ul li{
    float:left;
    padding: 5px 10px;
    margin-top: 5px;


}
.social ul li a{
    color: rgb(87,86,86);
}
.social ul li a:hover{
    color:#0f74f5;

}
.section ul{
    list-style: none;
}
.section ul li{
    float:right;
    padding:5px 3px;
    margin-left:5px;

}
.section ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 3px;
    border-radius: 5px;
}
.section ul li a:hover{
    background-color: #CC4C4C;
    color: white;
}
.last-post{
    width: 100%;
    height: 50px;
    background-color: #f8f7f8;
    border-radius:4px solid white;
}
.last-post h4{
    float: right ;
    color: #080808;
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;

}
.last-post ul{
    list-style: none;
    margin: 2px;
    padding: 3px;

}
.last-post .span-img img{
    float: right;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;

}
.cart ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.cart ul li{
    display: inline-block;
    margin-left: 15px;
    padding: 2px;
    font-size: 24px;

}
.cart ul li a{
    color: #080808;
}
.cart ul li a:hover{
    color:#CC4C4C;
}
.cart-icons{
    position: relative;
    display: inline-block;
}
.cart-count{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff0000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 12px;
}

/*start product*/
main{
    display: flex;
    flex-wrap: wrap;

}
.product{
    position: relative;
    margin: 10px;
    margin-top: 50px;
    width: 200px;
    padding: 20px;
    border: 1px solid;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    margin-bottom: 40px;
}
.product a{
    text-decoration: none;
    color: #080808;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}
.product_img{
    text-align: center;
}
.product_img img{
    width: 180px;
    height: 150px;
    border-radius: 30px;
}
.product_img:hover{
    opacity: 0.7;
}
.product_section{
    margin-top: 5px;
    background-color: #cceeee;
    float: right;
    border-bottom: groove #20cfee;
    border: 3px solid #000000;
    box-shadow: 0 0 10px rgb(253, 254, 254);
}
.product_name{
    margin-top: 15px;
    text-align: center;
}
.product_price{
    text-align: center;
    margin-top: 5px;
    

}
.product_price a{
    color: #4ca4cd;
    font-size: 18px;
    font-weight: bold;
}
.product_description{
    text-align: center;
    margin-top: 10px;

}
.product_description i{
    margin: 5px;
    color: black;
}
.qty_input{
    margin-top: 5px;
    text-align: center;
    margin-left: 18px ;

}
.qty_count_mins{
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;

}
.input[type="number"]{
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    padding: 4px;

}
.qty_count_add{
    background-color: #ccc;
    border: none;
    padding: 5px 10px ;
    cursor: pointer;
    margin-left: 5px;
}
.addto_cart{
    width: 100%;
    height: 35px;
    background-color:white;
    margin-top: 10px;
    padding: 10px 29px;
    cursor: pointer;
    font-weight: bold;
}
.addto_cart:hover{
    background-color:#CC4C4C;
}
.unvailable{
    /* background-image: url("img/1532612103.jpg"); */
    position: absolute;
    top: 20px;
    left: 15px;
    transform: rotate(-25deg);
    width: px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    

/*end product*/

}
/*footer start*/
.footer-container{
    
    background-color: #ccc;
    width: 100%;
    height: 150px;
    padding: 4px;    
}
.google_maps{
    float: left;
    width: 60%;
    height: 150px;
}
.copy{
    float: right;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 100px;
}
/*footer start*/


.notification{
    width: 1000px;
    height: 50px;
    background-color: wheat;
    border: 2px solid red;
    margin: 40px;
    padding: 10px;
    font-size: 40px;
    color: black;
    text-align: center;
}



/*profile                                       profile */
.profile{
    width:50px;
     text-decoration: none;
     margin-left: -79px;
  margin-bottom: 1px;
     
}